// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f6f7fb !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #2c8ef8 !default;
$indigo: #727cf5 !default;
$purple: #6b5eae !default;
$pink: #ff679b !default;
$red: #fa5c7c !default;
$orange: #fd7e14 !default;
$yellow: #ffc35a !default;
$green: #0acf97 !default;
$teal: #02a8b5 !default;
$cyan: #39afd1 !default;
// scss-docs-end color-variables

$min-contrast-ratio: 2 !default;

// scss-docs-start theme-color-variables
$primary: $indigo !default;
// scss-docs-end theme-colors-map

// Prefix for :root CSS variables
$variable-prefix: ct-; //override prefix
$prefix: $variable-prefix !default;

// Body
//
// Settings for the `<body>` element.
$body-color: $gray-700 !default;
$body-bg: $gray-100 !default;

$body-secondary-bg: $white !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-base: 0.9375rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base * 0.875 !default;
// scss-docs-end font-variables

// Links
//
// Style anchor elements.
$link-decoration: none !default;
